# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `npx -y @better-auth/cli secret`

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=anonymous:anonymous-dtasks

VITE_CONVEX_URL=http://127.0.0.1:3210

VITE_CONVEX_SITE_URL=http://127.0.0.1:3211

# Public URL used by Better Auth inside Convex
SITE_URL=http://localhost:3000
